*{
    margin: 10px;
    padding: 0;
}

body{
    background-color: #AD86D9;
    font-family: Arial, sans-serif;
    text-align: center;
}
.content{
   height: 70vh; 
   display:flex;
    justify-content: center;
    align-items: center;
}
/* 70% of the viewport height */
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
/* 60% of the smaller dimension of the viewport (width or height)  */
.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color:#E70B0B;

}
#resetbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 0.5rem;
    border: none;
}